<div class="banner-container d-flex align-items-center">
      <div class="container text-light d-flex flex-column align-items-center"> 
        <div class="heading text-center"> 
          <h1>Joel & Slivia</h1> 
          <h3>We Are Getting Married</h3>	
          <hr class="bg-light">
          <h5>On 20 August 2022</h5>	
          
        </div>
          <%# <div class="countdown styled"></div> %>

        <div class="d-flex justify-content-around w-50 flex-wrap mt-">
          <div class='border border-danger p-2 m-1 d-flex flex-column align-items-center'><span id='days'></span><span>Days</span></div>
          <div class='border border-danger p-2 m-1 d-flex flex-column align-items-center'><span id='hours'></span> <span>Hours</span></div>
          <div class='border border-danger p-2 m-1 d-flex flex-column align-items-center'><span id='minutes'></span> <span>Mins</span></div>
          <div class='border border-danger p-2 m-1 d-flex flex-column align-items-center'><span id='seconds'></span> <span>Secs</span></div>
        </div>
        <hr class="bg-light">
        <h6 class="bg-light"><%= link_to "Download Budget", 'https://i.ibb.co/WccMpLq/Budget-Joel-Slivia.jpg', target: :_blank %></h6>
        
        <div class="text-light mt-3">
          <h5>Church: St. Stephen C.O.U Munyonyo</h5>
          <p>Time: 12:00pm</p>
          <h5>Reception: Speke Resort Munyonyo</h5>
          <p>Time: 2.00pm</p>
        </div>
        <hr class="bg-light">
        <div class="col-sm-12 text-center copyrights"> Copyright 2022 | Designed by <a href="https://isabirye.netlify.app/" class="text-light">Emmanuel</a> </div>

      </div>
  </div>