<
<div class="d-flex align-items-center justify-content-around flex-wrap flex-row">
    <%= render 'sidebar'%>
    <div>
        <p class="alert text-success"><%= notice %></p>
        <%= render 'form', pledger: @pledger %>
    </div>
</div>